
ion-button {
  --border: 0;
  --border-radius: 0;
  width: 25vw;
  color: white;
  text-transform: none;
  height: 54px;
}

.buttons {
  background: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;


  ion-icon {
    color: #fff;
    font-size: 48px;
  }
}

.active {
  ion-icon {
    color: orange;
  }
}
