export const environment = {
  // Used for feature flags. Keep false for dev sites.
  production: false,

  // The API endpoint for the application. Can be a local version of the API
  // backend or it can point to a live version of the app somewhere. It should
  // include a trailing slash and will also include a version number. The
  // version number targets the correct version of the API. You will need to
  // ask if the latest version is correct, though generally speaking you'll
  // get an out of date message if you're using a too-old version of the API.
  appUrl: 'http://mtst-backend.dev/api/v1.1/',

  // The client ID and Secret refers to the client ID and Secret generated when
  // you set up an oauth client within the API client. For dev sites, it doesn't
  // really matter which one you use, they just need to be present in the target
  // API endpoint specified above.
  clientId: '',
  clientSecret: '',

  // This should likely not be set, as it's only used in one place for a logo.
  assetsFolder: '/',

  // Pusher configuration. This is client information. The information provided
  // below is the development key and cluster. If you need to test pusher
  // connections locally, you'll need to contact nick@vervecommerce.com to
  // create a server key/environment for you.
  pusher: {
    key: '7448e0f59036e5592ae1',
    cluster: 'us2',
    host: null,
  },

  // Environment ID that is used to send telemetry data back to Mux.com.
  mux_data_key: '',

  // Nutritionix information. If you need to build/test Nutritionix related
  // data, then contact nick@nickvahalik.com for a key.
  nutritionix: {
    appId: '',
    appKey: '',
    url: 'https://trackapi.nutritionix.com/v2/'
  }
};
