<div padding>
  <h4>Pending Advisor Request</h4>
  <p text-center *ngIf="application"><strong>{{ application.trainer.transphormer.first_name }} {{
    application.trainer.transphormer.last_name }}</strong></p>
  <p>
    You've requested an advisor, but they have not yet responded.
  </p>
  <p>
    If you'd like to find another advisor, or train by yourself, you can cancel this request.
  </p>
  <div class="button global-margin-top-25">
    <ion-button color="danger" expand="full" (click)="confirmCancel()">Cancel Advisor Request</ion-button>
  </div>
</div>
