<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-menu-button></app-menu-button>
    </ion-buttons>
    <ion-title>Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" (click)="cancelModal()">
      <ion-icon name="undo" slot="start"></ion-icon>
      Cancel
  </ion-button>
  <ion-card *ngFor="let announcement of announcements">
    <ion-card-header>
      <ion-card-title>{{ announcement.heading }}</ion-card-title>
      <small>Sent {{ announcement.sent.format('MMMM Do, YYYY [at] h:mm a') }} by <strong>{{ announcement.trainer.transphormer.display_name }}</strong></small>
    </ion-card-header>

    <ion-card-content>
      <div class="content" [innerHTML]="announcement.announcements"></div>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!announcements || announcements.length === 0" padding text-center>
    There are no New Announcements that require your attention.<br/><br/>
    Keep TransPHORMing 👊
  </div>
</ion-content>
