canvas {
  background-image: url('../../../assets/icon/firstPhormLogo.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  background-blend-mode: difference;
  background-color: white;
}
