.hide {
  display: none;
}

ion-toolbar {
  --background: var(--ion-color-brand-black);
}

ion-footer ion-toolbar {
  --background: var(--ion-color-brand-black);
  background-color: var(--ion-1p-lightest);
}

ion-header {
  background-color: var(--ion-color-brand-black);
}

ion-title {
  background-color: var(--ion-color-brand-black);
  color: var(--ion-1p-lightest);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: var(--ion-1p-font-dominant);
}

.global-app-left-margin {
  margin-left: var(--app-left-width);
}

.global-container {
  margin: 60px auto;
}

.global-title {
  font-size: var(--app-header-h3-size);
  line-height: var(--app-header-h3-line);
  font-weight: bold;
}

ion-list-header {
  --color: var(--ion-color-medium);
  --padding-start: calc(var(--default-margin) * 2);
  --padding-end: calc(var(--default-margin) * 2);
  --letter-spacing: 0;
  --font-weight: 900;
  --font-size: 13.6px;
  padding-left: var(--padding-start);
  padding-right: var(--padding-end);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  margin-top: calc(var(--default-margin) * 2);
  margin-bottom: var(--default-margin);

  &:first-child {
    margin-top: 0;
  }
}

.global-input {
  padding: 0 calc(var(--default-margin) * 2) calc(var(--default-margin) * 2);

  &:first-child {
    padding-top: var(--default-margin);
  }

  ion-label {
    text-transform: uppercase;
    font-weight: 900;
    + ion-input,
    + ion-textarea,
    + ion-datetime,
    + ion-button,
    + ion-select {
      margin-top: calc(var(--default-margin) / 2);
    }
  }

  ion-input,
  ion-textarea,
  ion-datetime,
  ion-select {
    --padding-end: var(--default-margin);
    --padding-start: var(--default-margin);
    --background: var(--ion-1p-lightest);
    background: var(--background);
    border-bottom: 4px solid transparent;
    &.has-focus {
      --background: #fff;
      border-bottom-color: var(--ion-color-primary);
    }
  }
}

.global-modal-d-block {
  .ion-page {
    display: block;
  }
}

.global-danger {
  color: var(--ion-color-danger) !important;
}

.label-stacked.sc-ion-label-md-h,
.label-stacked.sc-ion-label-ios-h {
  white-space: normal;
}

ion-label {
  font-size: var(--app-caption-size);
  font-weight: bold;
  white-space: pre-wrap;
  margin: 10px 0;

  &:focus {
    outline-offset: none;
    outline: none;
  }
}

$increment: 5;

@while $increment <=30 {
  .global-margin-top-#{$increment} {
    margin-top: #{$increment}px;
  }

  $increment: $increment + 5;
}

@media screen and (max-width: 768px) {
  .global-container {
    width: 100%;
  }
}

.alert-head {
  padding: 16px !important;
}

.alert-radio-label {
  white-space: normal !important;
  font-size: 16px !important;
  padding: 0 5px 0 30px !important;
}

.alert-title {
  font-weight: bold !important;
}

.list-md {
  padding: 0 !important;
}

.md, .ios {
  ion-card {
    border-radius: 0px;
    box-shadow: none;
    border-width: 4px;
    border-style: solid;
  }
  ion-card-content {
    padding: 12px;
  }
  ion-card-header {
    padding: 12px;
    font-family: var(--ion-font-family);
    font-weight: 900;
  }
}

.full-width {
  width: 100%;
}

ion-item-group ion-item {
  --padding-end: 8px;
}

ion-toast {
  --border-radius: 0;
  font-weight: 900;
}

.ios .loading-wrapper {
  border-radius: 0;
}

ion-card-title {
  font-family: var(--ion-1p-font-dominant);
}

ion-searchbar .searchbar-input-container .searchbar-input {
  border-radius: 0;
}

ion-list-header {
  --background: var(--ion-color-header);
}

.meal-template-name-modal {
  .modal-wrapper {
    width: 85%;
    height: 35%;
  }
}

.meal-template-configuration-modal {
  .modal-wrapper {
    height: 40%;
  }
}


.common-alert-helper {
  --height: 95%;
  --max-width: 95%;
  --min-width: 80%;

  ion-backdrop {
    opacity: 0.8;
  }

  .alert-head .alert-title {
    text-align: center;
    font-size: var(--app-header-h4-size);
    padding: 10px;
    text-transform: uppercase;
  }

  .alert-message {
    p {
      font-size: medium;
    }
    text-align: left;
    color: black;
    max-height: 100%;
  }

  .alert-button-group {
    button {
      font-weight: 700;
    }
  }
}
