<div padding>
  <p>You do not currently have an advisor.</p>
  <p>You can request an advisor and when they accept, you'll get a notification that they have accepted your request.</p>
  <p>To begin, just type in advisor's email or affiliate ID and tap "Send Request".</p>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar [(ngModel)]="matchValue" placeholder="Email or Affiliate ID"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="button global-margin-top-25">
      <ion-button type="submit" color="primary" expand="full">Send Request</ion-button>
    </div>
  </form>
</div>

